%h3 Thread owned by #{@owner.username}
%h4= link_to 'Go to the administration panel.', admin_panel_situation_path(@situation)

= simple_form_for [@situation, Item.new] do |f|
  = f.input :name, label: "New Item's name"
  = f.input :amount, label: "Item's value"
  = f.submit

- @situation.items.each do |item|
  %p= item.name
  %p= item.amount

= form_tag attach_situation_path(@situation) do
  = text_field_tag :email
  = submit_tag "Attach User"

%h3 Users participating in this thread:
%ul
- @situation.users.each do |user|
  %li= "#{user.username}, #{user.email}"
